{
  "parser": "babel-eslint",

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },

  "plugins": [
    "react"
  ],

  "rules": {
    "indent": ["error", 2]
  },

  "extends": ["eslint:recommended", "react"]
}

